<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎页3</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
<body>
<div class="wel">
    <h1>欢迎来到zeze的世界，一起来ze吧。</h1>
    <div class="tips clearfix">
        <div class="img">
            <img src="{{ url_for('static', filename='img/wel.JPG') }}">
        </div>
        <div class="btn">
            <a href="/login">登录</a>
            <a href="/register">注册</a>
        </div>
    </div>
</div>
</body>
</html>