<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="login-wrap">
    <div class="login">
        <form method="post">
            <input name="username" placeholder="请输入用户名"><br/>
            <input name="password" type="password" placeholder="请输入密码"><br/>
            <input type="submit" value="登录">
        </form>
    </div>
</div>
</body>
</html>
